@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 6
   Tutorial Case

   Tables Style Sheet
   Author: Kylie beck
   Date:  12/2/2025 

   Filename:         dlr_tables.css

*/

/* Table Styles */
table.schedule{
   background-color:white;
   border: 10px outset rgb(153, 0, 153);
   border-collapse: collapse;
   font-size: 0.75em;
   width: 100%;
}


/* Table Cell Styles */



/* Table Caption Styles */



/* Row Group Styles */



/* Column Group Styles */

